# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
android/local.properties
android/key.properties
android/app/src/main/res/values/googleservices.json
android/app/src/main/res/values/google-services.json
android/app/src/main/res/values/firebase-options.xml
android/app/src/main/res/values/google-services-api-key.xml
android/app/src/main/res/values/google-services-project-id.xml
android/app/src/main/res/values/google-services-storage-bucket.xml
android/app/src/main/res/values/google-services-messaging-sender-id.xml
android/app/src/main/res/values/google-services-app-id.xml
android/app/src/main/res/values/google-services-measurement-id.xml
android/app/src/main/res/values/google-services-measurement-id-internal.xml
android/app/src/main/res/xml/google_services.xml
android/app/src/main/res/xml/google-services.xml
android/app/src/main/res/xml/firebase-options.xml
android/app/src/main/res/xml/google-services-api-key.xml
android/app/src/main/res/xml/google-services-project-id.xml
android/app/src/main/res/xml/google-services-storage-bucket.xml
android/app/src/main/res/xml/google-services-messaging-sender-id.xml
android/app/src/main/res/xml/google-services-app-id.xml
android/app/src/main/res/xml/google-services-measurement-id.xml
android/app/src/main/res/xml/google-services-measurement-id-internal.xml

# Models and Large Files
model/*.pkl
model/*.joblib
dataset/*.csv
!dataset/sample.csv

# IDE
.vscode/
.idea/
*.swp
*.swo
